.row{
    background-color: rosybrown;
}
footer{
    color: #f2bbc6;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #c999a3;
}