<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'HTML'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="60"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#bf435c'"
        [innerStrokeColor]="'#f5a9b8'"
        [animation]="true"
        [animationDuration]="550"
        [imageSrc]="'../assets/html.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showImage]="true"
        [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'HTML'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="70"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#bf435c'"
        [innerStrokeColor]="'#f5a9b8'"
        [animation]="true"
        [animationDuration]="550"
        [imageSrc]="'../assets/CSS.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showImage]="true"
        [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'HTML'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="80"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#bf435c'"
        [innerStrokeColor]="'#f5a9b8'"
        [animation]="true"
        [animationDuration]="550"
        [imageSrc]="'../assets/js.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showImage]="true"
        [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'HTML'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="50"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#bf435c'"
        [innerStrokeColor]="'#f5a9b8'"
        [animation]="true"
        [animationDuration]="550"
        [imageSrc]="'../assets/java.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showImage]="true"
        [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'HTML'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="10"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#bf435c'"
        [innerStrokeColor]="'#f5a9b8'"
        [animation]="true"
        [animationDuration]="550"
        [imageSrc]="'../assets/c++.png'"
        [imageHeight]="75"
        [imageWidth]="65"
        [showImage]="true"
        [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'HTML'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="75"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#bf435c'"
        [innerStrokeColor]="'#f5a9b8'"
        [animation]="true"
        [animationDuration]="550"
        [imageSrc]="'../assets/py.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showImage]="true"
        [lazy]="true"
        ></circle-progress>
    </div>
    

</div>
